@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'jakarta';
  src: url('../public/font/PlusJakartaDisplay-Bold.otf') format('otf');
  font-display: swap;
}

@font-face {
  font-family: 'helvetica';
  src: url('../public/font/Helvetica.otf') format('otf');
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav-bar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.header-landing {
  position: relative;
  padding: 125px 5% 60px;
  background-color: 'transparent';
}

.container-hp {
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 1140px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  font-family: 'jakarta';

  /* opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d; */
}

.homepage-grid {
  grid-template-rows: auto;
}

.w-layout-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: auto auto; */
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.title-wrap-main-heading {
  align-self: center;
  justify-self: start;
  max-width: 100%;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  align-items: flex-start;
  text-align: left;
}

.main-img {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  justify-self: center;
  align-self: center;
}

.main-heading {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 16px;
  color: #111;
  font-size: 56px;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: -0.04em;
}

.main-para {
  margin-bottom: 10px;
  color: #555;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: -0.02em;
}

.get-started-btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.bg-1 {
  background-image: url('https://cdn.shopify.com/s/files/1/0743/3215/files/Bilasa_Handlooms_12-03_01_copy.jpg?v=1647069180');
}
.bg-2 {
  background-image: url('https://d1qek42f5a2sdm.cloudfront.net/temp/cuploads/ap-south-1%3A308f401a-62de-4555-acda-38f94cce4aa7/shilpkriti/category/1636288535218stand.jpg');
}

.bg-3 {
  background-image: url('https://d1qek42f5a2sdm.cloudfront.net/temp/cuploads/ap-south-1%3A308f401a-62de-4555-acda-38f94cce4aa7/shilpkriti/category/1639859082967cover.jpg');
}
/* 
.live-banner {
  background-video: url('https://iframe.videodelivery.net/482971ffc3e00bbfae8192a3753bcf28?muted=true&preload=auto&loop=true&autoplay=true&controls=false');
} */

.SProductImagePlaceholder {
  width: 100%;
  max-width: 90px;
  height: 90px;
  border-radius: 8px;
}

.SProductGrid {
  display: grid;
  margin-top: 10;
  /* grid-template-columns: repeat(1fr); */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.SProductGridItem {
  width: 100%;
  display: grid;
  grid-template-columns: 90px 1fr;
  gap: 1rem;
  align-items: center;
  display: block;
}

.SProductBody {
  display: flex;
  flex-direction: column;
  padding-bottom: 40;
}

.SProductBody-h2 {
  font-weight: 500;
  transition: opacity 0.2s;
  padding-top: 40;
  font-size: 15px;
  text-transform: capitalize;
}

.SProductPrice {
  margin-top: 20;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SProductBadge {
  position: absolute;
  font-weight: bold;
  margin-right: 6px;
  margin-top: 6px;
  white-space: nowrap;
  text-transform: uppercase;
  vertical-align: baseline;
  padding-top: 3px;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  background-color: #ee741f;
  display: inline-block;
  width: 68px;
  height: 22px;
  border-radius: 4px;
  left: 50%;
  transform: translate(-50%);
  bottom: 8px;
  font-size: 10px;
  /* md */
  top: 6px;
  right: 9px;
  transform: none;
  left: unset;
  bottom: unset;
  font-size: 12px;
}

.SProductLink {
  position: relative;
  display: flex;
}

.product-image {
  background-color: #e5e7eb;
  min-width: 90px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  /* min-height: 100%; */
  min-height: 260px;
}

.SPriceContainer {
  display: flex;
  align-items: center;
}

.base-cost {
  font-weight: 500;
  font-size: 15px;
  padding-right: 10px;
}

.original-cost {
  text-decoration: line-through;
  color: gray;
}

.SButtonAdd {
  display: flex;
  /* justify-content: space-between; */
  border-radius: 0.25rem;
  border: 1px solid rgb(20, 110, 180);
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding: 0.25rem 1rem 0.25rem 1rem;
  cursor: pointer;
  color: rgb(20, 110, 180);
  transition: all 0.2s ease 0s;
}

.SButtonAdd:hover {
  color: white;
  background-color: rgb(20, 110, 180);
}

.SButtonAdd:focus {
  outline: none;
  border: 1px solid rgb(20, 110, 180);
}

.addPlusIcon {
  fill: rgb(20, 110, 180);
}

.SButtonAdd:hover > .addPlusIcon {
  fill: white;
}

.Heading {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.1;
  text-transform: uppercase;
}

.SDetailsGrid {
  /* display:block; */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

/* .SDetailsGrid > h2 {

} */

#price-container {
  display: flex;
  align-items: center;
}

.SImageContainer {
  grid-column: 1/6;
}

.SDetailContainer {
  grid-column: 6/13;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 50px;
}

.SImage {
  width: 100%;
  border-radius: 8px;
}

.SOriginalCost {
  text-decoration: line-through;
  color: grey;
  margin-left: 20px;
}

.percentage-off {
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  background-color: #ee741f;
  font-weight: bold;
  display: inline-block;
  height: 22px;
  border-radius: 4px;
  padding-top: 1.5px;
  text-transform: uppercase;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 4px;
}

.SButtonContainer {
  display: flex;
  /* padding: 1.2rem 40px; */
  padding-top: 40px;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
  width: 100%;
  color: white;
  margin-top: auto;

  /* align-self: flex-start; */
  /* background-color: rgb(20, 110, 180); */
}

.SCheckoutButtonLarge {
  flex: 0.5;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  background-color: #115f9c;
  border-radius: 0.25rem;
  border: 1px solid rgb(20, 110, 180);
  font-weight: 500;
  margin-left: 20px;
}

.SCheckoutButtonLarge:hover {
  background-color: white;
  color: #115f9c;
}

/* Products Page */

.SButtonCounter {
  border: 1px solid rgb(20, 110, 180);
  width: 95px;
  border-radius: 0.25rem;
}

.SProductCount {
  background-color: #146eb41a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: 1;
  color: rgb(20, 110, 180);
}

/* Cart Page */
.SCartHeader {
  display: flex;
  grid-column: 1/13;
}

.CartGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.SCartRow {
  grid-column: 1/8;
}

.SCartCheckout {
  padding-top: 0;
  border: none;
  grid-column: 9/13;
  max-width: 320px;
  width: 320px;
  justify-self: flex-end;
}

.SCheckoutContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.SCartItem {
  display: flex;
  margin-top: 0;
}

.SCartContent {
  margin-left: 20px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly; */
}

.SCartImage {
  overflow: hidden;
  width: 100%;
  object-position: center;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  object-fit: contain;
}
